<div class="tooltipFooter twitter">

	<div class="content">

		<div class="tweet">
			<p class="title">#Monstapps</p>
			<p class="text">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		</div>

		<div class="button">
			<p class="title">SÍGUENOS EN TWITTER</p>

			<a href="https://twitter.com/monstapps" class="twitter-follow-button" data-show-count="false" data-lang="es" data-dnt="true">Seguir a @monstapps</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>

	</div>


</div>